<center><strong><h1>
    ADA FINAL PROJECT II </h1></strong></center>

<center>
<img src="https://i.postimg.cc/G3vX5dvW/new-product-sales-turn-innovation-into-growth-4x.png" width="600" alt="cognitiveclass.ai logo"  /></center>

# Project Code

## Ada Project Info

Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.
Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.

### Part 1 - Data Acquisition
Initially, a web-server created in Javascript will serve as an entry point for the data, simulating the weekly acquisition of all products sold by the company. To run the server, you need to install [NodeJS](https://nodejs.org/en/). With the repository folder already cloned, you must use the following commands to install the packages.

`npm init`
`npm install`

Then just run the `node web-server.js` command. To request the data in JSON format, just use a GET request to localhost:3000/api/ep1

### Part 2 - Data Storage and Management

This is the necessary stage of the project. The student must be able to create a system that can update tables in the face of new data. Also, the formatting of dataframes must be in accordance with the project's specifications, so that communication with the dashboard can be stablished immediately and correctly, without any further adaptation. 

### Part 3 - Data visualization

Last step of the project pipeline. Using the aforementioned tables, this script generates a dashboard containing essential info for data visualization. The script uses the `streamlit` framework. In order to run locally, the student should install the package (either using `pip install streamlit` or `conda install streamlit`). To run the application, just type `streamlit run app.py` and access localhost:8501 to view the dashboard. If the second part of the project is done correctly, the dashboard should work like the image below.

![example](https://github.com/mdrs-thiago/ada_project/blob/492aafd0f66fdb37fec04a4e72c085ca7aba87f1/ada_project_dashboard.png)

## Imports

In [1]:
import pandas as pd
import numpy as np
import requests
import datetime 
import random

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

import warnings
#import unicodedata
#import math


#import time

In [2]:
# show all Columns
pd.set_option("display.max_columns", None)

#  warnings package to suppress warnings
warnings.filterwarnings('ignore')

# Display a pandas DataFrame with a given format using:
pd.options.display.float_format = '{:.2f}'.format

sns.set_style('dark')

## Main Fuctions

In [3]:
dict_price = {}
df_concat = pd.DataFrame()

In [4]:
# Function to request the api created
def request_api (x:str):
    '''
    x: str <- link da API
    '''
    exemple = requests.get(x)
    dados = exemple.json()
    df = pd.json_normalize(dados)
    df.iloc[:,2:] = df.iloc[:,2:].abs()
    df['date'] = df['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))
    
    return df

In [5]:
# getting a list of generated products (columns):
def prod_in_columns():
    global products
    products = df_api.columns
    products = products[2:]
    return products

# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

# creating random prices for items for the first time
def price_products():    
    for i in products:
        if i not in dict_price.keys():
            # dict_price{   Prod:   [ Preço(t),             Preço(t+1),  M(t-1),     M(t)} 
            #                           [0]                     [1]        [2]       [3]      
            dict_price[i] = [round(random.uniform(5,50),2),   None,     None,     None]            
            dict_price[i][3] = df_api[i].mean()
            dict_price[i][1] = dict_price[i][0] 
        else:
            dict_price[i][0] = dict_price[i][1]
            dict_price[i][2] = dict_price[i][3]
            dict_price[i][3] = df_api[i].mean()
            if dict_price[i][2] != 0:
                v = ((dict_price[i][3] - dict_price[i][2]) / dict_price[i][2])
            else:
                v = 0            
            fv = 0.5 + (1 / (1 + np.exp(-v)))
            pt = dict_price[i][0]
            dict_price[i][1] = fv * pt            
    return

# apply the unit price created into the main DataFrame
def unit_price():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_revenue',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_revenue'] = df_api[f'{i}_revenue'].apply(lambda x: round(x,2))
    return

# concatenating the dataframes generated from the API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

In [6]:
# Creating Data Bases

def database_all_sells():
    global df_all_sells
    
    df_id_date = df_concat.iloc[:,:2]
    df_all_sells = pd.concat([df_id_date, df_concat.iloc[:,2::3]], axis=1, join='outer')    
    
    return df_all_sells.to_csv('df_all_sells.csv')

def database_monthly_sells():
    global df_monthly_sells, df_prod
    
    df_id_date = df_concat.iloc[:,:2]
    df_prod = pd.concat([df_id_date, df_concat.iloc[:,2::3]], axis=1, join='outer')
    df_monthly_sells = df_prod.groupby(pd.Grouper(key='date', freq='M')).sum()    
    
    return df_monthly_sells.to_csv("df_monthly_sells.csv")

def database_weekly_price():
    global df_weekly_price 
    
    df_id_date = df_concat.iloc[:,:2]
    df_prod_price = pd.concat([df_id_date, df_concat.iloc[:,3::3]], axis=1, join='outer')
    df_prod_price.insert(0,'Year', df_prod_price['date'].dt.isocalendar().year)
    df_prod_price.insert(1,'Week', df_prod_price['date'].dt.isocalendar().week)
    df_weekly_price = df_prod_price.groupby(pd.Grouper(key='date', freq='W')).max()
    df_weekly_price = df_weekly_price.drop(columns=['id'])
    
    return df_weekly_price.to_csv("df_weekly_price.csv")

def database_monthly_revenue():
    global df_monthly_revenue 
    
    df_id_date = df_concat.iloc[:,:2]
    df_prod_revenue = pd.concat([df_id_date, df_concat.iloc[:,4::3]], axis=1, join='outer')
    df_monthly_revenue = df_prod_revenue.groupby(pd.Grouper(key='date', freq='M')).sum()
    df_monthly_revenue.columns = df_prod.columns[2:]
    df_monthly_revenue['balance'] = df_monthly_revenue.iloc[:,:].sum(axis = 1)
        
    return df_monthly_revenue.to_csv("df_month_revenue.csv")

def database_consolidate():
    global  df_consolidate   
    
    df_consolidate = df_monthly_revenue.T
    df_consolidate.drop(['balance'],inplace=True)
    df_consolidate['balance'] = df_consolidate.iloc[:,:].sum(axis = 1)
    df_consolidate.index.name = 'product'

    return df_consolidate.to_csv("df_consolidate.csv")

## Running the Code

In [7]:
# IMPORTANT: Use df_api as variable
for i in range(100):
    df_api = request_api('http://localhost:3000/api/ep1')
    prod_in_columns()
    integer_prod()
    price_products()
    unit_price()
    prod_profit()
    concat_api()
    
database_all_sells()
database_monthly_sells()
database_weekly_price()
database_monthly_revenue()
database_consolidate()

## Workflow

### Part I - Creating DataFrame and Data Wrangling

In [53]:
# creating table and putting a week list:
df_api = request_api('http://localhost:3000/api/ep1')

In [11]:
df_api.shape

(22, 15)

In [55]:
df_api.head()

,id,date,prod_2,prod_3,prod_4,prod_6,prod_7,prod_8,prod_11,prod_15,prod_0,prod_9,prod_5,prod_1,prod_10
0,laiq53j4313qb9akak,2020-12-02 19:36:30.519956,10.24,18.01,32.81,23.63,7.03,170.11,235.20,161.38,NaN,NaN,NaN,NaN,NaN
1,laiq53j4vq2g55cvieh,2020-12-02 22:04:27.071453,37.98,35.51,37.76,20.23,NaN,33.36,NaN,618.45,30.99,8.35,NaN,NaN,NaN
2,laiq53j4f8gmilhaoul,2020-12-02 19:38:45.328814,44.92,11.04,NaN,25.08,39.83,320.93,NaN,640.96,NaN,617.33,32.05,NaN,NaN
3,laiq53j42vf4f9x1q,2020-12-03 03:40:35.155403,NaN,NaN,15.54,NaN,48.18,NaN,494.92,464.62,15.89,177.91,28.10,3.16,723.16
4,laiq53j4n9ctvks4qs,2020-12-02 21:03:13.936007,NaN,NaN,38.60,NaN,NaN,NaN,448.59,196.91,4.91,264.74,NaN,NaN,NaN

In [ ]:
# getting a list of generated products (columns):
def prod_in_columns():
    global products
    products = df_api.columns
    products = products[2:]
    return products

In [ ]:
prod_in_columns()

In [ ]:
# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

In [ ]:
integer_prod()

In [ ]:
df_api.head()

In [ ]:
# creating random prices for items for the first time
def price_products():    
    for i in products:
        if i not in dict_price.keys():
            # dict_price{   Prod:   [ Preço(t),             Preço(t+1),  M(t-1),     M(t),  variação(v)] } 
            #                           [0]                     [1]        [2]       [3]        [4]
            dict_price[i] = [round(random.uniform(10,100),2),   None,     None,     None,      None]            
            dict_price[i][3] = df_api[i].mean()
            dict_price[i][1] = dict_price[i][0] 
        else:
            dict_price[i][0] = dict_price[i][1]
            dict_price[i][2] = dict_price[i][3]
            dict_price[i][3] = df_api[i].mean()
            v = ((dict_price[i][3] - dict_price[i][2]) / dict_price[i][2])
            dict_price[i][4] = v
            fv = 0.5 + (1 / (1 + np.exp(-v)))
            pt = dict_price[i][0]
            dict_price[i][1] = fv * pt            
    return

In [ ]:
price_products()

In [ ]:
dict_price

In [ ]:
# apply the unit price created into the DataFrame
def unit_price():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

In [ ]:
unit_price()

In [ ]:
 df_api.head()

In [ ]:
# apply the relative variation created into the DataFrame
#def relative_var():
#   for i in dict_price.keys():
#        indice_column = df_api.columns.get_loc(i)
#        indice_column += 2
#        df_api.insert(indice_column,f'{i}_relative_var',dict_price[i][4])
#    return

In [ ]:
#relative_var()

In [ ]:
#df_api.head()

In [ ]:
# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_revenue',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_revenue'] = df_api[f'{i}_revenue'].apply(lambda x: round(x,2))
    return

In [ ]:
prod_profit()

In [ ]:
df_api.tail()

### Part II - Concatenating DataFrames

In [ ]:
# concatenando os dataframes gerados a partir da API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

In [ ]:
concat_api()

In [ ]:
df_concat.tail(5)

In [ ]:
df_concat['date'] = df_concat['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))

### Part III -  Creating Data Bases

#### Separating specific columns from the main DataFrame

In [ ]:
df_concat.shape

In [ ]:
df_concat.head()

Creating a DataFrame only with 'id' and 'date'

In [ ]:
df_id_date = df_concat.iloc[:,:2]

In [ ]:
df_id_date.head()

Creating a DataFrame only with product's transaction data

In [ ]:
df_prod = pd.concat([df_id_date, df_concat.iloc[:,2::3]], axis=1, join='outer')

In [ ]:
df_prod.shape

In [ ]:
df_prod.head()

Creating a DataFrame only with product's unit price data

In [ ]:
df_prod_price = pd.concat([df_id_date, df_concat.iloc[:,3::3]], axis=1, join='outer')

In [ ]:
df_prod_price.head()

Creating a DataFrame only with the product's revenue data

In [ ]:
df_prod_revenue = pd.concat([df_id_date, df_concat.iloc[:,4::3]], axis=1, join='outer')

In [ ]:
df_prod_revenue.head()

#### Database with all transactions

In [ ]:
def database_all_sells():
    global df_all_sells
    
    #df_id_date = df_concat.iloc[:,:2]    
    df_all_sells = pd.concat([df_id_date, df_concat.iloc[:,2::3]], axis=1, join='outer')    
    
    return df_all_sells.to_csv('df_all_sells.csv')

In [ ]:
database_all_sells()

In [ ]:
df_all_sells.head()

#### Database with total transactions by month

In [ ]:
def database_monthly_sells():
    global df_monthly_sells, df_prod    
    
    #df_id_date = df_concat.iloc[:,:2]
    #df_prod = pd.concat([df_id_date, df_concat.iloc[:,2::3]], axis=1, join='outer')
    df_monthly_sells = df_prod.groupby(pd.Grouper(key='date', freq='M')).sum()   
    
    return df_monthly_sells.to_csv("df_monthly_sells.csv")

In [ ]:
database_monthly_sells()

In [ ]:
df_monthly_sells.head()

#### Database with weekly price of products, in R$.

In [ ]:
def database_weekly_price():
    global df_weekly_price 
    
    #df_id_date = df_concat.iloc[:,:2]
    #df_prod_price = pd.concat([df_id_date, df_concat.iloc[:,3::3]], axis=1, join='outer')
    df_prod_price.insert(0,'Year', df_prod_price['date'].dt.isocalendar().year)
    df_prod_price.insert(1,'Week', df_prod_price['date'].dt.isocalendar().week)
    df_weekly_price = df_prod_price.groupby(pd.Grouper(key='date', freq='W')).max()
    df_weekly_price = df_weekly_price.drop(columns=['id'])
    
    return df_weekly_price.to_csv("df_weekly_price.csv")

In [ ]:
database_weekly_price()

In [ ]:
df_weekly_price.head()

#### Database with total monthly revenue, in R$.

In [ ]:
def database_monthly_revenue():
    global df_monthly_revenue 
    
    #df_id_date = df_concat.iloc[:,:2]
    #df_prod_revenue = pd.concat([df_id_date, df_concat.iloc[:,4::3]], axis=1, join='outer')
    df_monthly_revenue = df_prod_revenue.groupby(pd.Grouper(key='date', freq='M')).sum()
    df_monthly_revenue.columns = df_prod.columns[2:]
    df_monthly_revenue['balance'] = df_monthly_revenue.iloc[:,:].sum(axis = 1)
        
    return df_monthly_revenue.to_csv("df_month_revenue.csv")

In [ ]:
database_monthly_revenue()

In [ ]:
df_monthly_revenue.head()

#### Database with consolidadte

In [ ]:
def database_consolidate():
    global  df_consolidate   
    
    df_consolidate = df_monthly_revenue.T
    df_consolidate.drop(['balance'],inplace=True)
    df_consolidate['balance'] = df_consolidate.iloc[:,:].sum(axis = 1)
    df_consolidate.index.name = 'product'

    return df_consolidate.to_csv("df_consolidate.csv")

In [ ]:
database_consolidate()

In [ ]:
df_consolidate.head(20)

## Part IV - Exploratory Data Analysis (EDA)

### Variables to use

In [ ]:
# DataFrame with all transactions
df_all_sells.head()

In [ ]:
# DataFrame with all transactions by month
df_monthly_sells.head()

In [ ]:
# DataFrame with all prices by week
df_weekly_price.head()

In [ ]:
# DataFrame with the revenue by month
df_monthly_revenue.head()

In [ ]:
# DataFrame with the product as row and revenue by month as column
df_consolidate.head()