# Final Project

In [1]:
import pandas as pd
import numpy as np
import requests
import time
import requests
import datetime 
import unicodedata
import random
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.DataFrame()

def request_api (x:str):
    '''
    x: str <- link da API
    '''
    exemple = requests.get(x)
    dados = exemple.json()
    df = pd.json_normalize(dados)
    df['date'] = df['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))
    return df

In [71]:
df_project = request_api('http://localhost:3000/api/ep1')
df_project.insert(2,'week_number',df_project['date'].dt.isocalendar().week)
df_project.head(5)

,id,date,week_number,prod_0,prod_1,prod_7,prod_8,prod_9,prod_10,prod_15,prod_3,prod_4,prod_5,prod_11,prod_2
0,la1o60jtqft1mbvo4w,2020-05-13 18:51:10.298655,20,0.226177,38.625941,1.862537,498.910627,892.755394,513.061607,1128.228750,NaN,NaN,NaN,NaN,NaN
1,la1o60jtdejxa5dwrcf,2020-05-13 18:09:16.802925,20,9.606231,NaN,27.397997,429.734382,NaN,NaN,546.778214,42.855474,20.480131,NaN,NaN,NaN
2,la1o60jt83u9cx7f8yn,2020-05-13 19:31:57.025687,20,NaN,NaN,NaN,808.440866,NaN,NaN,573.379514,48.278631,NaN,31.977292,618.843325,NaN
3,la1o60jtwhhci4frlk9,2020-05-13 16:54:34.092638,20,20.251549,NaN,14.257500,982.127170,NaN,547.028667,1160.989032,NaN,NaN,NaN,NaN,19.090896
4,la1o60ju82z8ucut8pj,2020-05-14 00:50:02.825297,20,47.954121,NaN,29.181632,28.161891,15.614891,903.177651,461.351081,NaN,NaN,22.775720,NaN,NaN

In [82]:
produtos = df_project.columns
produtos = produtos[3:]

In [83]:
dicionario = {}
for i in produtos
    produtos[

Index(['prod_0', 'prod_1', 'prod_7', 'prod_8', 'prod_9', 'prod_10', 'prod_15',
       'prod_3', 'prod_4', 'prod_5', 'prod_11', 'prod_2'],
      dtype='object')

Index(['prod_0', 'prod_1', 'prod_7', 'prod_8', 'prod_9', 'prod_10', 'prod_15',
       'prod_3', 'prod_4', 'prod_5', 'prod_11', 'prod_2'],
      dtype='object')

In [18]:
df = pd.concat([df, df_project], axis=0, join='outer')
df= df.reset_index(drop=True)
df.tail(10)

,id,date,prod_4,prod_5,prod_8,prod_9,prod_10,prod_11,prod_1,prod_2,prod_3,prod_7,prod_0,prod_6,prod_15
119,la1iu7f60czz623g2gy,2020-03-05 01:32:14.754357,21.407996,NaN,110.258015,-148.643863,9.771425,NaN,NaN,29.113228,NaN,NaN,31.675181,48.726237,222.149126
120,la1iu7f6x34wdx92t1r,2020-03-04 21:38:11.797267,37.057116,11.011193,228.041680,144.420051,64.802513,-43.425670,48.457102,NaN,NaN,NaN,4.469550,NaN,-109.208994
121,la1iu7f72cbfom7oh5w,2020-03-05 06:04:29.167724,NaN,4.390464,17.694712,160.458681,NaN,-24.943184,NaN,NaN,4.529510,12.312325,38.784326,18.160678,268.714320
122,la1iu7f76o21nxqv467,2020-03-05 07:33:42.526467,NaN,42.719950,469.136499,NaN,NaN,60.136869,NaN,18.264871,NaN,22.882902,36.421068,NaN,-60.021674
123,la1iu7f7vcmhb08e62,2020-03-05 00:57:39.240309,21.329415,NaN,231.229813,92.856489,-291.224343,18.952397,NaN,33.497465,NaN,10.340448,NaN,10.013119,-149.388114
124,la1iu7f7tuc4u3cg9l,2020-03-05 05:50:01.569497,NaN,NaN,4.285895,NaN,NaN,NaN,NaN,NaN,35.005029,NaN,3.496543,45.044214,138.367354
125,la1iu7f7occ9e82057,2020-03-05 04:23:18.263197,NaN,13.648277,35.042158,-168.464687,338.007440,NaN,NaN,NaN,NaN,NaN,NaN,22.508206,375.878338
126,la1iu7f768qowlqoexx,2020-03-05 05:09:55.335898,3.556569,5.924237,34.734732,22.121510,NaN,-199.638242,NaN,NaN,9.288077,22.625881,38.428344,41.961061,-208.850890
127,la1iu7f7v7knorlhurp,2020-03-04 17:04:29.160992,20.992438,5.327555,13.034025,-53.111176,324.609322,-246.615396,0.688039,NaN,NaN,NaN,NaN,NaN,482.129853
128,la1iu7f78gehdrp3065,2020-03-05 02:44:33.575156,21.793402,12.139870,-266.813437,NaN,-161.318390,NaN,NaN,38.035860,24.643486,3.234756,27.261319,44.285205,-165.622223

In [69]:
unit_price = round(random.uniform(1, 5),2)
teste = pd.DataFrame(df_project['prod_4']*unit_price)

In [26]:
# sum of products per month
group_month = df.groupby(df['date'].dt.isocalendar().week)['prod_4'].sum()
group_month

week
3     104.779655
4     192.561850
5     452.619696
6     309.030225
7      47.879700
8     185.890592
9     247.246623
10    182.906778
Name: prod_4, dtype: float64

In [20]:
# selecting months and years
sales_month = df[(df['date'].dt.month == 9) & (df['date'].dt.year == 2021)]
sales_month

Empty DataFrame
Columns: [id, date, prod_4, prod_5, prod_8, prod_9, prod_10, prod_11, prod_1, prod_2, prod_3, prod_7, prod_0, prod_6, prod_15]
Index: []